/* ======== responsive css ======== */
/* ========================= device (xs 0 > 576) ========================= */
@media (max-width: 575.98px) {
  .nav__wrapper {
    grid-template-columns: max-content 5fr;
  }
  .nav__menuWrapperMain {
    position: absolute;
    width: 100vw;
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: start;
    padding: 20px 30px;
    box-shadow: 0 5px 15px 10px rgba(175, 175, 172, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    top: -1000px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 5555555555555555;
    background-color: var(--white-clr);
    opacity: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
  }
  .nav__menuWrapperMain.menu__active {
    animation: animate 0.3s ease-in-out;
    -webkit-animation: animate 0.3s ease-in-out;
    top: 75px;
    opacity: 1;
  }
  @keyframes animate {
    /* 100%{
        top:75px
    } */
    0% {
      top: -1000px;
      opacity: 0;
    }
    100% {
      top: 75px;
      opacity: 1;
    }
  }
  .nav__menuWrapper {
    width: 100%;
    flex-direction: column;
    justify-self: center;
    align-items: start;
  }
  .portalLinkWrapper {
    flex-direction: column;
    justify-self: start;
    align-items: start;
  }

  .collapse__menuIcon {
    display: block;
    justify-self: end;
  }
  .close__icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  /* === banner === */
  #banner {
    padding: 30px 0;
  }
  .banner__contentPartWrapper {
    max-width: 315px;
}
  .banner__SectionWrapper {
    justify-content: center;
    text-align: center;
  }
  .commonSectionHeading {
    font-size: 32px;
    text-align: center;
  }
  .banner__title {
    padding-left: 20px;
    padding-right: 20px;
  }
  .banner__summary {
    padding-right: unset;
  }
  .banner__form {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
  }
  .banner__reviewWrapper {
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
  }
  .banner__imagePartWrapper {
    padding: 0 20px;
  }
  /* === banner === */
  /* === collaborate === */
  .collaborate__sectionHeading::after {
    right: 10%;
    top: -60%;
  }
  .collaborate__contentWrapper {
    justify-content: center;
    padding-bottom: 20px;
  }
  .collaborate__contentItem {
    padding: 23px 23px 23px 24px;
  }
  .collaborate__contentHeading {
    font-size: 20px;
    padding-bottom: 15px;
  }
  .collaborate__contentSummary {
    font-size: 16px;
  }
  /* === collaborate === */
  /* === workTogether and tools === */
  #tools,
  #workTogether {
    padding: 30px 0;
  }
  .tools__sectionWrapper,
  .workTogether__sectionWrapper {
    padding: 0 20px;
    text-align: center;
  }
  .tools_details,
  .workTogether_details {
    padding-bottom: 20px;
  }
  #tools {
    padding: 0;
  }
  /* === workTogether and tools === */
  /* === report === */

  .report__sectionWrapper {
    margin: unset;
  }
  .report__bgImage img {
    opacity: 0;
  }
  .report__contentWrapper {
    position: unset;
    padding: 0 20px;
    margin: 0 auto;
  }
  /* === report === */
  /* === work 2 section === */
  /* === work 2 section === */
  /* === team === */
  #team {
    padding: 30px 0;
  }
  .team__sectionWrapper {
    padding: 0 20px;
  }
  .team__btnWrapper {
    padding-bottom: 20px;
  }
  .team__itemWrapper {
    justify-content: center;
    padding: 0;
  }
  .team__item {
    padding: 10px;
  }
  .team__logo {
    margin-bottom: 14px;
  }
  .team__summary {
    padding-bottom: 25px;
  }
  /* === team === */
  /* === footer === */
  #footer {
    padding: 40px 0;
  }
  .footer__sectionWrapper {
    padding: 0 20px;
  }
  .footer__title {
    padding-bottom: 25px;
  }
  .footer__socialIconWrapper {
    column-gap: 20px;
    padding-bottom: 20px;
  }
  .footer__policyWrapper {
    padding-bottom: 20px;
  }
  .footer__brandTitle {
    margin-bottom: 40px;
  }

  .footer__item:nth-child(3) {
    height: auto;
    padding: 20px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
  }
  .footer__newsletterForm {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .footer__input {
    max-width: auto;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
  }
  .footer__btn {
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
  }
  /* === footer === */
}
/* ========================= device (xs 0 > 576) ========================= */

/* ========================= device (sm 576 > 768) ========================= */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* === banner === */
  .banner__SectionWrapper {
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }
  .banner__summary {
    padding-right: unset;
  }
  .banner__reviewWrapper {
    margin: 0 auto;
  }
  /* === banner === */
  /* === collaborate === */
  .collaborate__contentWrapper {
    justify-content: center;
    padding-bottom: 20px;
  }
  .collaborate__contentItem {
    padding: 23px 23px 23px 24px;
  }
  /* === collaborate === */
  /* === workTogether and tools === */
  #tools,
  #workTogether {
    padding: 30px 0;
  }
  .tools_title {
    margin: 0 auto;
  }
  .tools__sectionWrapper,
  .workTogether__sectionWrapper {
    text-align: center;
    padding: 0 20px;
    justify-content: center;
  }
  .tools__contentPartWrapper,
  .workTogether__contentPartWrapper {
    margin: 0 auto;
  }
  .tools_details,
  .workTogether_details {
    padding-bottom: 20px;
  }
  /* === workTogether and tools === */
  /* === report === */
  .report__sectionWrapper {
    margin: 0 20px;
  }
  .report__contentWrapper {
    padding-top: 10px;
    max-width: 280px;
    right: 10px;
  }
  /* === report === */
  /* === work 2 section === */

  /* === work 2 section === */
  .team__itemWrapper {
    justify-content: center;
    padding: 0;
  }
  .team__item {
    padding: 10px;
  }
  .team__logo {
    margin-bottom: 14px;
  }
  .team__summary {
    padding-bottom: 25px;
  }
  /* === team === */
}
/* ========================= device (sm 576 > 768) ========================= */

/* ========================= device (md 768 > 992) ========================= */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* === banner === */
  .banner__SectionWrapper {
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }
  .banner__summary {
    padding-right: unset;
  }
  .banner__reviewWrapper {
    margin: 0 auto;
  }
  /* === banner === */
  /* === collaborate === */
  .collaborate__contentWrapper {
    justify-content: center;
    padding-bottom: 20px;
  }
  .collaborate__contentItem {
    padding: 23px 23px 23px 24px;
  }
  /* === collaborate === */
  /* === workTogether and tools === */
  #tools,
  #workTogether {
    padding: 30px 0;
  }
  .tools__sectionWrapper,
  .workTogether__sectionWrapper {
    text-align: center;
    justify-content: center;
  }
  .tools__contentPartWrapper .workTogether__contentPartWrapper {
    margin: 0 auto;
  }
  .tools_details,
  .workTogether_details {
    padding-bottom: 20px;
  }
  .tools_title {
    max-width: unset;
  }
  .tools__contentPartWrapper {
    margin: 0 auto;
  }
  /* === workTogether and tools === */
  /* === report === */
  .report__sectionWrapper {
    margin: 0 20px;
  }
  .report__contentWrapper {
    padding-top: 10px;
    max-width: 330px;
    right: 10px;
  }
  /* === report === */
  /* === work 2 section === */
  /* === work 2 section === */
  /* === work 2 section === */
  /* === team === */

  .team__item {
    max-width: 250px;
    padding: 10px;
  }
  .team__logo {
    margin-bottom: 14px;
  }
  .team__summary {
    padding-bottom: 25px;
  }
  /* === team === */
}
/* ========================= device (md 768 > 992) ========================= */

/* ========================= device (lg 992 > 1200) ========================= */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* === banner === */
  .banner__SectionWrapper {
    justify-content: center;
    text-align: center;
  }
  .banner__summary {
    padding-right: unset;
  }
  .banner__reviewWrapper {
    margin: 0 auto;
  }
  /* === banner === */
  /* === collaborate === */
  .collaborate__contentWrapper {
    justify-content: center;
    padding-bottom: 20px;
  }
  .collaborate__contentItem {
    padding: 23px 23px 23px 24px;
  }
  /* === collaborate === */
  /* === workTogether and tools === */
  .tools__sectionWrapper,
  .workTogether__sectionWrapper {
    justify-content: center;
    text-align: center;
  }
  .tools_title {
    max-width: unset;
  }
  .tools__contentPartWrapper {
    margin: 0 auto;
  }
  .tools__contentPartWrapper {
    max-width: unset;
    margin: 0 auto;
  }
  .tools_details {
    margin: 0 auto;
    max-width: 550px;
  }
  /* === workTogether and tools === */
  /* === work 2 section === */
  /* === work 2 section === */
  /* === team === */

  .team__item {
    max-width: 300px;
    padding: 10px;
  }
  .team__logo {
    margin-bottom: 14px;
  }
  .team__summary {
    padding-bottom: 25px;
  }
  /* === team === */
}
/* ========================= device (lg 992 > 1200) ========================= */

/* ========================= device (xl 1200 > 1400) ========================= */
@media (min-width: 1200px) and (max-width: 1400px) {
}
/* ========================= device (xl 1200 > 1400) ========================= */
/* ========================= device (xxl 1400 >>) ========================= */
@media (min-width: 1400px) {
}
/* ========================= device (xxl 1400 >>) ========================= */
/* ======== responsive css ======== */

/* ===== design by AJOY SAHA ===== */
